.homediv1 {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  /* margin-top: -7%; */
}
.bigfont {
  font-size: 80px;
  padding: 3%;
  line-height: -100%;
  padding-left: 10%;
  padding-top: 1%;
  padding-bottom: 10%;
}
.addtocartimg {
  width: 30%;
  margin-top: 0%;
  padding-left: 100px;
  position: relative;
  padding-right: 5%;
  animation: updown ease-in-out 3s infinite;
}
@keyframes updown {
  0% {
    top: 0px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}
.flexing1 {
  display: flex;
}
